.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
}
.navbar__shadow{
  box-shadow: 0px 8px 24px rgba(152, 151, 151, 0.16);

}
.navbar__left{
width:40%
}
.navbar__left--content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.img-fluid{
  width: 100%;
}
.spacing__navbar{
  text-decoration: none;
  color: #5a5858;
  font-family: 'mulish';
  font-size: 18px;
  font-weight: 600;
}
.navbar__right{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.form__search--text{
display: none;
height:30px;
border: 1px solid #c7c6c6;
border-radius:10px;
outline: none;
font-family: 'Open Sans', sans-serif;
padding: 0 18px;
margin: 0 3%;
}
.form__search:hover .form__search--text{
  display: block;

}

.btn__nav{
  text-decoration: none;
}
.btn__signup{
  background-color: #5F2EEA;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-family: 'Mulish';
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
}
.navigation__button--icon-mobile{
  display: block;
  border: none;
  background-color: transparent;
}
.navbar__mobile{
  background-color: #f5f5f5;
  padding: 5% 0;
  height: 30%;
  width: 100%;
}
.navbar__mobile--content{
  width: 100%;
	padding: 2% ;
	border-top: 0.5px solid #797878;
	border-bottom: 0.5px solid #797878;
}
.navbar__mobile--content-text{
  text-decoration: none;
  color: #414141;
}
.navbar__mobile p{
  padding: 5% 0;
}
.container-fluid{
  margin: 0;
  padding: 0;
  background-color:#F5F6F8 ;
}
.footer{
  margin-top: 5%;
}
.wrapper__footer{
  align-items:baseline ;
}

.sub__menu--footer{
  margin-bottom: 30px;
}
.text__footer--mobile{
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.75px;
}
.text__footer--explore{
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.75px;
}
.sub__menu--footer-sponsor{
  display: flex;
  flex-direction: column;
}

.logo__sponsor--img{
  width: 50%;
  margin-bottom: 3%;
}

.col__icons{
  margin: 20px 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.5px;
}
.col__icons i{
  margin-right: 15px;
}
.col__icons a{
  text-decoration: none;
  color:#797878;
}


@media (max-width: 992px) {
  .navbar{
    padding: 3%;
  } 
  .navbar__left{
    width: 60%;
  }
  .navbar__right{
   width: 10%;
  }
  .form__search{
    margin-right: 8px;
  }
	.navbar__mobile {
		display: none;
	}
	.navigation__button--icon-mobile {
		display: block;
		border: none;
		background-color: transparent;
	}
/* 
  .logo__sponsor--img{
    width: 70%;
    } */
  .col__icons a{
    display: none;
  }
  .icons__mobile{
    display: flex;
  }

}
@media (max-width: 768px) {
	.navigation__homepage--mobile {
		background-color: #ffffff;
		height: 370px;
		width: 100%;
		box-shadow: 0px 4px 16px rgba(186, 186, 186, 0.08);
	}
  .sub__menu--footer{
    margin-bottom: 4%;
  }
  .text__footer--mobile{
  margin-bottom: 8%;
  }
  .text__footer--explore{
    display: block;
    flex-direction: row;
    margin-bottom: 8%;
  }
  /* .sub__menu--footer-sponsor{
    display: block;
    flex-direction: row;
    margin-bottom: 10%;
  } */
  .logo__sponsor{
    margin-bottom:8%;
  }
  .icons__mobile  {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
  }
  .logo__sponsor--img{
  width: 70%;
  margin: 3% 0;
  }
  .icons__mobile .col__icons a{
    display: none;
    margin: 5px;
  }
  .col__icons a{
  display: none;
  }
}
@media (max-width: 576px) {
  .navbar{
    padding: 5%;
  }
  .sub__menu--footer{
    margin-bottom: 4%;
  }
  .text__footer--mobile{
  margin-bottom: 8%;
  }
  .text__footer--explore{
    display: block;
    flex-direction: row;
    margin-bottom: 8%;
  }
  .sub__menu--footer-sponsor{
    display: block;
    flex-direction: row;
    margin-bottom: 8%;
  }
  .logo__sponsor--img{
    width: 30%;
    margin-right: 2%;
  }
  .icons__mobile .col__icons a{
    display: none;
  }  
  .icons__mobile  {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
  }
}


